[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/simdjson"]
	path = 3rdparty/simdjson
	url = https://github.com/coderqs/simdjson.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/ios-cmake"]
	path = 3rdparty/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "3rdparty/cmdline"]
	path = 3rdparty/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "3rdparty/log4cpp"]
	path = 3rdparty/log4cpp
	url = https://github.com/orocos-toolchain/log4cpp.git
[submodule "cmake/common"]
	path = cmake/common
	url = https://github.com/coderqs/cmakes.git
[submodule "3rdparty/ColorEchoForShell"]
	path = 3rdparty/ColorEchoForShell
	url = https://github.com/PeterDaveHello/ColorEchoForShell.git
[submodule "3rdparty/bash-yaml"]
	path = 3rdparty/bash-yaml
	url = https://github.com/jasperes/bash-yaml.git
