[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/simdjson"]
	path = 3rdparty/simdjson
	url = https://github.com/coderqs/simdjson.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/ios-cmake"]
	path = 3rdparty/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "3rdparty/cmdline"]
	path = 3rdparty/cmdline
	url = https://github.com/tanakh/cmdline.git
